<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
    <parameter name="browser" value="firefox"></parameter>
    <parameter name="userName" value="sadasiva"></parameter>
    <parameter name="password" value="sadasiva"></parameter>
    <parameter name="gender" value="Male"></parameter>
    <test name="Sanity" >

        <groups>
            <run>
                <include name="sanity"/>
            </run>
        </groups>
        <classes>

            <class name="testng.TestngGroup"/>

        </classes>
    </test>

</suite>